.avatar {
  width: 48px;
  margin-right: 20px;
}

.on {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(2, 131, 51);
  margin-right: 20px;
}

.off {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(248, 81, 39);
  margin-right: 20px;
}

.name {
  font-size: 24px;
  font-weight: 700;
}
