.container {
  position: relative;
  text-align: center;
}

.container:nth-child(2)::after {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  background-color: rgb(128, 241, 128);
  border-radius: 2px;
  width: 400px;
  transform: translate(644px, -36px);
}

.statistics {
  margin-bottom: 70px;
}

.title {
  font-size: 30px;
  background-color: rgb(241, 240, 240);
  padding: 20px 0px;
  width: 400px;
  margin: 0 auto;
}

.list {
  display: flex;
  justify-content: center;
  width: 400px;
  height: 70px;
  margin: 0 auto;
}

.item {
  flex-basis: calc(100% / 5);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.item:nth-child(1) {
  background-color: rgb(43, 250, 250);
}

.item:nth-child(2) {
  background-color: rgb(128, 241, 128);
}

.item:nth-child(3) {
  background-color: rgb(207, 112, 252);
}

.item:nth-child(4) {
  background-color: rgb(250, 246, 43);
}

.item:nth-child(5) {
  background-color: rgb(252, 126, 126);
}

.label {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 19px;
}

.percentage {
  font-style: italic;
  font-size: 19px;
}
